@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-orange-50 text-gray-800 antialiased h-screen w-screen overflow-hidden;
  }
}

/* Custom scrollbar for better UI on POS */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}
